* {
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primary-text: #B2B2B2;
    -fx-red: #FF0000;
    -fx-gray: rgba(210, 210, 210, 1);
}

.root {
    -fx-background-color: -fx-primary;
    -fx-font-family: 'Calibri';
    -fx-text-fill: -fx-gray;
}

.label {
    -fx-text-fill: -fx-gray;
}

.tab {
    -fx-background-color: -fx-primary;
    -fx-pref-width: 150;
}

.tab-header-background {
    -fx-background-color: -fx-primary;
}

.tree-table-view {
    -fx-tree-table-color: rgba(0, 150, 0, 0.5);
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-gray;
    -fx-border-radius: 0.5em;
    -fx-border-width: 2;
}

.button {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-gray;
    -fx-border-color: -fx-gray;
    -fx-border-radius: 0.5em;
    -fx-background-radius: 0.5em;
    -fx-border-width: 2;
}

.button:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-border-color: -fx-secondary;
}

.combo-box {

}

.label.borderized {
    -fx-border-width: 1;
    -fx-border-color: -fx-gray;
}

.table-view  {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 0.5em;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-background-radius: 0.5em 0.5em 0 0;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.combo-box,
.choice-box {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: -fx-secondary;
    -fx-text-fill: -fx-secondary;
    -fx-background-color: transparent;
    -jfx-focus-color: -fx-secondary;
    -jfx-unfocus-color: -fx-secondary;
}

.combo-box-base .text {
    -fx-fill: -fx-secondary;
}

.combo-box .list-cell {
    -fx-background-color: -fx-primary;
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: -fx-secondary;
}

.combo-box .list-cell:hover {
    -fx-background-color: -fx-secondary;
}

.combo-box .list-cell:hover .text {
    -fx-fill: -fx-primary;
}


.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: -fx-secondary;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.text-area {
    -fx-text-fill: -fx-primary-text;
}

.resimportant {
    -fx-text-fill: -fx-secondary;
}
